target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
ui/node_modules
ui/www
ui/.idea
ui..temp
ui/.sass-cache
ui/app/bower_components
ui/coverage
ui/platforms
ui/plugins
ui/*.swp
ui/*.swo
ui/*.log
ui/*.DS_Store
*.log

ui/app/scripts/configuration.js