<div class="play-game" ng-cloak>
    <div class="container-fluid">
        <div class="score-alert score-alert-centered" id="score-alert">
            <h1>{{play.scoreChange}}</h1>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-justified btn-group-grid-manipulation">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="play.zoomIn(3)">
                                        <span class="glyphicon glyphicon-zoom-in"></span>x3
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftLeft(5)">
                                        <span class="glyphicon glyphicon-chevron-left"></span>x5
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftUp(5)">
                                        <span class="glyphicon glyphicon-chevron-up"></span>x5
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftDown(5)">
                                        <span class="glyphicon glyphicon-chevron-down"></span>x5
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftRight(5)"
                                            uib-popover="If you picked a word wrap game, you may need to shift the puzzle around to highlight a word"
                                            uib-popover-title="Profile"
                                            popover-is-open="main.showHelp"
                                            popover-placement="left"
                                            popover-trigger="none">
                                        <span class="glyphicon glyphicon-chevron-right"></span>x5
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.zoomOut(3)">
                                        <span class="glyphicon glyphicon-zoom-out"></span>x3
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-justified btn-group-grid-manipulation">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="play.zoomIn(1)"
                                            uib-popover="You may need to zoom in/out depending on the size of the grid."
                                            uib-popover-title="Profile"
                                            popover-is-open="main.showHelp"
                                            popover-placement="bottom-left"
                                            popover-trigger="none">
                                        <span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftLeft(1)">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftUp(1)">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftDown(1)">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="play.offsetTracker.shiftRight(1)">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="play.zoomOut(1)">
                                        <span class="glyphicon glyphicon-zoom-out"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left">
                        <describe-game features="play.description"></describe-game>
                    </div>
                    <div class="col-xs-8 text-right current-word">
                        <span ng-class="play.forwardIsWord ? 'found-a-word' : ''"
                              uib-popover="As you highlight letters, they will appear here as well."
                              uib-popover-title="Profile"
                              popover-is-open="main.showHelp"
                              popover-placement="left-top"
                              popover-trigger="none">
                            {{play.currentWordForward}}
                        </span> /
                        <span ng-class="play.backwardIsWord ? 'found-a-word' : ''">
                            {{play.currentWordBackward}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div grid-master class="col-xs-12 player-grid" ng-style="play.fontSize">
                        <table class="table table-condensed"
                               id="word-grid"
                               ng-mouseleave="play.onMouseExitsTable($event)"
                               ng-mouseenter="play.onMouseEntersTable($event)"
                               uib-popover="Click on any letter to start and move the mouse to highlight a word.  Click again to submit your word or to clear the starting selection."
                               uib-popover-title="Profile"
                               popover-is-open="main.showHelp"
                               popover-placement="left"
                               popover-trigger="none">
                            <tr class="text-center" ng-repeat="row in play.grid track by $index"
                                ng-init="gridRow = $index">
                                <td ng-repeat="cell in row track by $index" data-ws-row="{{gridRow}}"
                                    id="td{{gridRow}}x{{$index}}"
                                    ng-mousemove="play.onMouseMove($event)"
                                    ng-click="play.onMouseClick($event)"
                                    data-ws-column="{{$index}}"
                                    class="{{play.cellStyles[gridRow][$index]}}">
                                    {{cell}}
                                </td>
                            </tr>
                        </table>
                        <canvas id="select-canvas" class="select-canvas" ng-style="gridCanvasStyle"
                                onresize="play.updateSelection()"></canvas>
                        <canvas id="found-canvas" class="found-canvas" ng-style="gridCanvasStyle"
                                onresize="play.highlightFoundWords()"></canvas>
                    </div>
                </div>
            </div>
            <!--  TODO - link to dictionary?  -->
            <div class="col-xs-2 words">
                <div class="row">
                    <div class="panel panel-default words-left">
                        <div class="panel-heading">
                            <span>
                                <span class="pull-right badge">{{play.game.wordsToFind.length}}</span>
                                <h5>Left To Find</h5>
                            </span>
                        </div>
                        <div class="panel-body">
                            <span ng-repeat="word in play.game.wordsToFind">{{word}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-default btn-quit-game"
                            ng-click="play.actions.quit(play.game)"
                            ng-show="play.showQuit">
                        <span class="glyphicon glyphicon-flag"></span>I Quit!
                    </button>
                    <button class="btn btn-default btn-rematch-game"
                            ng-click="play.actions.rematch(play.game)"
                            ng-show="play.showRematch">
                        <span class="glyphicon glyphicon-repeat"></span>Rematch!
                    </button>
                    <button class="btn btn-default btn-end-rematch-game"
                            ng-click="play.actions.declineRematch(play.game)"
                            ng-show="play.showRematch">
                        <span class="glyphicon glyphicon-stop"></span>No More Rematches
                    </button>
                </div>
                <div class="row">
                    <div class="panel panel-default words-found" ng-repeat="(id, name) in play.game.players">
                        <div class="panel-heading">
                            <span>
                                <span class="badge pull-right"
                                      style="background-color: {{play.playerColors[id]}}; color: {{play.playerFontColors[id]}};">
                                        {{play.game.scores[id]}}
                                </span>
                                <h5>{{name}}</h5>
                            </span>
                        </div>
                        <div class="panel-body">
                            <span ng-repeat="word in play.game.wordsFoundByPlayer[id]">{{word}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
