<div class="game-bar" ng-controller="MenuCtrl as menu">
    <div ng-repeat="phase in menu.phases">
        <div class="list-group list-group-games list-group-{{phase}}"
             ng-hide="menu.games[phase].length == 0">
            <button class="list-group-item btn-group-{{phase}}"
                    ng-click="menu.phaseCollapsed[phase] = !menu.phaseCollapsed[phase]">
                <span class="glyphicon glyphicon-{{menu.phaseGlyphicons[phase]}}"></span>
                {{menu.phaseLabels[phase]}}
                <span class="badge">{{menu.games[phase].length}}</span>
            </button>
        </div>
        <div class="{{menu.games[phase].length == 0 ? 'list-group-hidden' : ''}}"
             uib-collapse="menu.phaseCollapsed[phase]">
            <div class="btn-group-vertical btn-group-games">
                <a ng-repeat="game in menu.games[phase] track by game.id"
                   ng-href="#/game/{{game.gamePhase.toLowerCase()}}/{{game.id}}"
                   class="btn-group btn btn-default btn-group-game btn-group-game-{{phase}}">
                    <img ng-src="{{game.playerImages[md5]}}" class="playerImage"
                         ng-repeat="(md5, name) in game.players">
                    {{menu.describeGame(game)}}
                </a>
            </div>
        </div>
    </div>
</div>
