<div class="col-xs-4 col-md-2 game-bar" ng-controller="MenuCtrl as menu">
    <div class="btn-group-vertical btn-group-justified">
        <a href="#create" class="btn-group btn btn-default create-new-game">Start New Series</a>
    </div>
    <div ng-repeat="phase in menu.phases">
        <div class="list-group list-group-games list-group-{{phase}}"
             ng-hide="menu.games[phase].length == 0">
            <div class="list-group-item"
                 ng-click="menu.phaseCollapsed[phase] = !menu.phaseCollapsed[phase]">
                {{menu.phaseLabels[phase]}}
                <span class="badge">{{menu.games[phase].length}}</span>
            </div>
        </div>
        <div class="{{menu.games[phase].length == 0 ? 'list-group-hidden' : ''}}"
             uib-collapse="menu.phaseCollapsed[phase]">
            <div class="btn-group-vertical btn-group-games">
                <a href="#" class="btn-group btn btn-default btn-group-game btn-{{phase}}"
                   ng-repeat="game in menu.games[phase] track by game.id">
                    {{game.id}} filler filler filler filler
                </a>
            </div>
        </div>
    </div>
</div>
