// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "colors";

.create-game {
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .nav {
    .nav-item {
      .nav-link {
        background-color: $peachOrange;
      }
    }

    .active {
      .nav-link {
        background-color: $puceRed;
      }
    }
  }

  .btn-group {
    .btn {
      background-color: $mediumChampagne;
      border-color: $mediumChampagne;
      color: black;
      font-size: 13pt;
      @media (max-width: $screen-sm-max) {
        font-size: 10px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 8px;
      }
    }
    .active {
      background-color: $mediumSpringBud;
      border-color: $mediumSpringBud;
      color: black;
      font-weight: bold;
    }
  }

  .create-game-button {
    background-color: $cambridgeBlue;
    border-color: $cambridgeBlue;
    color: black;
    font-weight: bold;
    width: 100%;
  }

  .ui-select-match-item.btn.btn-default {
    background-color: $puceRed;
    color: white;
  }
  .invite-friends-button {
    margin-top: 10px;
    background-color: $mediumChampagne;
    border-color: $mediumChampagne;
    color: black;
    font-weight: bold;
    width: 100%;
  }
}