@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?6gomox');
  src: url('fonts/icomoon.eot?6gomox#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?6gomox') format('truetype'),
  url('fonts/icomoon.woff?6gomox') format('woff'),
  url('fonts/icomoon.svg?6gomox#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dict-standard:before {
  content: "\e906";
}

.icon-dict-hard:before {
  content: "\e907";
}

.icon-standard:before {
  content: "\e908";
}

.icon-dict-simple:before {
  content: "\e909";
}

.icon-easiest:before {
  content: "\e90a";
}

.icon-fiendish:before {
  content: "\e90b";
}

.icon-harder:before {
  content: "\e90d";
}
.icon-nowrap:before {
  content: "\e904";
}
.icon-wrap:before {
  content: "\e905";
}
.icon-circle:before {
  content: "\e900";
}
.icon-diamond:before {
  content: "\e901";
}
.icon-pyramid:before {
  content: "\e902";
}
.icon-square:before {
  content: "\e903";
}

