@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pckm3');
  src:  url('fonts/icomoon.eot?pckm3#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?pckm3') format('truetype'),
  url('fonts/icomoon.woff?pckm3') format('woff'),
  url('fonts/icomoon.svg?pckm3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nowrap:before {
  content: "\e904";
}
.icon-wrap:before {
  content: "\e905";
}
.icon-circle:before {
  content: "\e900";
}
.icon-diamond:before {
  content: "\e901";
}
.icon-pyramid:before {
  content: "\e902";
}
.icon-square:before {
  content: "\e903";
}
.icon-beginner:before {
  content: "\e9e1";
}
.icon-experienced:before {
  content: "\e9f1";
}
.icon-expert:before {
  content: "\e9f3";
}
.icon-professional:before {
  content: "\ea01";
}

