// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "colors";

.game-bar {
  padding-left: 5px;

  .create-new-game {
    padding: 10px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-weight: bold;
  }

  .list-group-games {
    margin: 0;
    .list-group-item {
      margin-top: 5px;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
      font-weight: bold;
      padding: 10px 10px;
      border: none;
      color: black;
    }

    .badge {
      background-color: $puceRed;
    }
  }

  .btn-group-older-games {
    background-color: $mediumChampagne;
  }

  .btn-group-your-move {
    background-color: $mediumSpringBud;
  }

  .btn-group-their-move {
    background-color: $cambridgeBlue;
  }

  .btn-group-games {
    width: 100%;

    .game-wrapper {
      width: 100%;

      .btn-group-game {
        width: 100%;
        color: black;
        padding: 2px;
        alignment: left;
        text-align: left;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
        font-weight: bold;
        border-color: white;
        .player-image {
          margin: 3px 1px;
          width: 25px;
          height: 25px;
          @media (max-width: $screen-sm-max) {
            width: 20px;
            height: 20px;
          }
        }

        .game-features {
          width: 100%;
          .game-feature {
            font-size: 11px;
          }
        }
      }

      .btn-group-game-older-games {
        background-color: $mediumChampagne;
      }

      .btn-group-game-your-move {
        background-color: $mediumSpringBud;
      }

      .btn-group-game-their-move {
        background-color: $cambridgeBlue;
      }
    }
  }

  .list-group-hidden {
    display: none;
  }

}