.game-bar {
  padding-left: 5px;

  .create-new-game {
    padding: 10px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-weight: bold;
  }

  .list-group-games {
    margin: 0;
    .list-group-item {
      margin-top: 5px;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
      font-weight: bold;
      padding: 10px 10px;
      border: none;
    }
  }

  .btn-group-games {
    width: 100%;

    img {
      width: 25px;
      height: 25px;
    }

    .btn-group-game {
      padding: 4px;
      alignment: left;
      text-align: left;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
      font-weight: bold;
      span {
        span {
          font-weight: bold;
        }
      }
    }
  }

  .list-group-hidden {
    display: none;
  }
}