$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "game-bar.scss";
@import "create.scss";
@import "player-list";
@import "admin";
@import "profile";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 10px;

  .navbar {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.pull-left {
  padding-left: 5px;
}

