$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "colors";
@import "game-bar.scss";
@import "create.scss";
@import "player-list";
@import "admin";
@import "profile";
@import "play";
@import "customfont";

body {
  background-color: $peachOrange;
  padding-top: 10px;
  padding-bottom: 45px;

  .navbar {
    padding-left: 5px;
    padding-right: 5px;
    background-color: $mediumSpringBud;
    border-width: 0;
    .navbar-brand {
      img {
        width: 24px;
        height: 24px;
        display: inline;
      }
    }
  }

  .modal-dialog {
    .modal-content {
      background-color: $mediumChampagne;
    }
    .modal-header {
      background-color: $peachOrange;
      border-width: 0;
    }
    .modal-body {
    }
    .modal-footer {
      border-width: 0;
    }

    .btn-danger {
      background-color: $puceRed;
      color: white;
      border-color: $mediumChampagne;
    }
    .btn-danger:hover {
      border-color: $cambridgeBlue;
    }

    .cancel-button {
      background-color: $mediumSpringBud;
      color: white;
      border-color: $mediumChampagne;
    }
    .cancel-button:hover {
      border-color: $cambridgeBlue;
    }
  }

}

.welcome-landing {
  .jumbotron {
    background-color: $peachOrange;
    .create-game-button {
      background-color: $peachOrange;
      color: $puceRed;
      border-color: $puceRed;
    }
  }
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: $puceRed;
  font-weight: bolder;
}

.pull-left {
  padding-left: 5px;
}

.btn-quit-game {
  background-color: $puceRed;
}

.btn-quit-game:hover {
  background-color: $puceRed;
  color: $cambridgeBlue;
}

.btn-end-rematch-game {
  background-color: $puceRed;
  color: white;
}

.btn-end-rematch-game:hover {
  background-color: $puceRed;
  color: $cambridgeBlue;
}

.btn-rematch-game {
  background-color: $mediumSpringBud;
  color: white;
}

.btn-rematch-game:hover {
  background-color: $mediumSpringBud;
  color: $cambridgeBlue;
}

.invite-dialog {
  .ui-select-match-item.btn.btn-default {
    background-color: $puceRed;
    color: white;
  }
}

.popover {
  background-color: $puceRed;
  color: white;
}

.popover.right > .arrow:after {
  border-right-color: $puceRed;
}

.popover.left > .arrow:after {
  border-left-color: $puceRed;
}

.popover.top > .arrow:after {
  border-top-color: $puceRed;
}

.popover.bottom > .arrow:after {
  border-bottom-color: $puceRed;
}

.arrow {
  color: $puceRed;
}

.game-features {
  text-align: center;
  display: inline-block;
  .game-feature {
    width: auto;
    display: inline-block;
    padding-right: 5px;
  }
}

.main-body {
  padding-left: 0;
}