// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "colors";

.play-game {

  .play-area {
    padding-left: 5px;
  }
  .select-canvas {
    z-index: -1;
    position: absolute;
  }

  .found-canvas {
    z-index: -2;
    position: absolute;
  }

  .btn-group-grid-manipulation {
    .btn {
      background-color: $mediumChampagne;
      border: 1px $cambridgeBlue;
      border-radius: 8px;
      color: dimgray;
      @media (max-width: $screen-sm-max) {
        font-size: 12px;
      }
    }
    margin-bottom: 2px;
  }

  .current-word {
    margin-top: 20px;
    padding-right: 30px;
  }

  .game-features {
    margin-top: 20px;
    padding-left: 30px;
    display: inline-block;
  }

  .found-a-word {
    background-color: $mediumSpringBud;
    font-weight: bold;
  }

  .player-grid {
    padding: 1px;
    margin-top: 20px;
    font-family: 'DejaVu Sans Mono', monospace;
    table {
      margin: 0;
      tr {
        padding: 0;
        td {
          border: 0;
          padding: 5px;
        }
      }
    }

    .found-word {
      font-weight: bolder;
      text-decoration: underline;
    }

    .current-selection {
      font-weight: bolder;
    }

  }

  .glyphicon {
    margin-right: 5px;
  }

  .words {
    .panel {
      margin-bottom: 10px;
      .panel-heading {
        padding: 2px 10px;
        background-color: $mediumSpringBud;
        font-size: 12px;
        .badge {
          padding: 5px 8px;
          background-color: $puceRed;
          color: white;
          margin-bottom: 10px;
          margin-top: 6px;
          vertical-align: middle;
        }
      }
      .panel-body {
        background-color: $mediumChampagne;
        font-size: 12px;
        div {
          text-align: right;
          .word {
            text-align: right;
            @media (max-width: $screen-sm-max) {
              font-size: 10px;
            }
          }
        }
      }
    }

    .words-found {
      .panel-heading {
        background-color: $peachOrange;
        font-weight: bold;
        .badge {
          margin-top: 8px;
          padding: 8px 10px;
          @media (max-width: $screen-sm-max) {
            font-size: 12px;
            padding: 3px 6px;
          }
        }
        .playerImage {
          width: 35px;
          height: 35px;
          display: inline-block;
          margin: 5px;

          @media (max-width: $screen-sm-max) {
            width: 20px;
            height: 20px;
          }
        }
      }
      .panel-body {
        display: block;
        div {
          .word {
            display: inline;
          }
        }
      }

    }
  }

  .btn-quit-game {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    border-width: 0;
  }

  .btn-rematch-game {
    width: 100%;
  }

  .btn-end-rematch-game {
    width: 100%;
    margin-bottom: 10px;
  }
}

.score-alert {
  top: 110%;
  width: auto;
  overflow: hidden;
  position: fixed;
  opacity: 0.8;
  z-index: 1050;
  h1 {
    border-radius: 10px;
    color: $puceRed;
    background-color: white;
    padding: 10px;
  }
}

.score-alert-centered {
  left: 50%;
  transform: translate(-50%, -50%);
}

.score-alert.in {
  top: 40%;
  transition: top 1.5s ease-in 0s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
