@import "colors";

.play-game {

  .select-canvas {
    z-index: -1;
    position: absolute;
  }

  .found-canvas {
    z-index: -2;
    position: absolute;
  }

  .btn-group-grid-manipulation {
    .btn {
      background-color: $mediumChampagne;
      border-width: 1px;
      border-color: $cambridgeBlue;
      border-radius: 8px;
      color: dimgray;
    }
    margin-bottom: 2px;
  }

  .current-word {
    margin-top: 20px;
    padding-left: 30px;
  }

  .game-options {
    margin-top: 20px;
  }

  .found-a-word {
    background-color: $mediumSpringBud;
    font-weight: bold;
  }

  .player-grid {
    padding: 1px;
    margin-top: 20px;
    font-family: 'DejaVu Sans Mono', monospace;
    table {
      margin: 0;
      tr {
        padding: 0;
        td {
          border: 0;
          padding: 5px;
        }
        td:hover {
          font-size: larger;
          padding: 1px;
        }
      }
    }

    .found-word {
      font-weight: bolder;
      text-decoration: underline;
    }

    .current-selection {
      font-weight: bolder;
    }

  }

  .words {
    .panel {
      margin-bottom: 10px;
    }
    .panel-heading {
      padding: 2px 15px;
      background-color: $mediumSpringBud;
    }
    .panel-body {
      background-color: $mediumChampagne;
    }
    span {
      padding-right: 10px;
    }
  }

  .btn-quit-game {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    border-width: 0;
  }

  .btn-rematch-game {
    width: 100%;
  }

  .btn-end-rematch-game {
    width: 100%;
    margin-bottom: 10px;
  }
}