@import "colors";

.play-game {

  .select-canvas {
    z-index: -1;
    position: absolute;
  }

  .found-canvas {
    z-index: -2;
    position: absolute;
  }

  .btn-group-grid-manipulation {
    .btn {
      background-color: $mediumChampagne;
      border: 1px $cambridgeBlue;
      border-radius: 8px;
      color: dimgray;
    }
    margin-bottom: 2px;
  }

  .current-word {
    margin-top: 20px;
    padding-right: 30px;
  }

  .game-options {
    margin-top: 20px;
    padding-left: 30px;
    .game-option {
      width: auto;
      display: inline-block;
      padding-right: 5px;
    }
  }

  .found-a-word {
    background-color: $mediumSpringBud;
    font-weight: bold;
  }

  .player-grid {
    padding: 1px;
    margin-top: 20px;
    font-family: 'DejaVu Sans Mono', monospace;
    table {
      margin: 0;
      tr {
        padding: 0;
        td {
          border: 0;
          padding: 5px;
        }
      }
    }

    .found-word {
      font-weight: bolder;
      text-decoration: underline;
    }

    .current-selection {
      font-weight: bolder;
    }

  }

  .words {
    .badge {
      padding: 5px 8px;
      background-color: $puceRed;
      color: white;
      margin-bottom: 10px;
      margin-top: 6px;
    }
    .panel {
      margin-bottom: 10px;
    }
    .panel-heading {
      padding: 2px 15px;
      background-color: $mediumSpringBud;
      font-size: 12px;
      h5 {
        font-weight: bold;
        display: inline-block;
      }
    }
    .panel-body {
      background-color: $mediumChampagne;
      font-size: 12px;
    }
    span {
      padding-right: 8px;
    }

    .words-found {
      .panel-heading {
        background-color: $peachOrange;
        font-weight: bold;
      }
    }
  }

  .btn-quit-game {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    border-width: 0;
  }

  .btn-rematch-game {
    width: 100%;
  }

  .btn-end-rematch-game {
    width: 100%;
    margin-bottom: 10px;
  }
}