<!--
<div class="row">
<div class="col-sm-8">
  <ui-select ng-model="$parent.selected" theme="bootstrap" reset-search-input="true">
    <ui-select-match placeholder="Select a player to mimic...">{{$select.selected.displayName}}</ui-select-match>
    <ui-select-choices repeat="player in players | propsFilter: {displayName: $select.search}">
      <div ng-bind-html="player.displayName | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<button ng-click="changeUser()" class="btn btn-default col-sm-2">Change!</button>
<button ng-click="revertUser()" class="btn btn-default col-sm-2">Back To Normal</button>
</div>
-->
<div class="admin-screen">
    <div class="row total-row">
        <div class="col-sm-2">
            Total Games:
        </div>
        <div class="col-sm-2 text-right">
            {{admin.gameCount}}
        </div>
    </div>
    <div class="row total-row">
        <div class="col-sm-2">
            Total Players:
        </div>
        <div class="col-sm-2 text-right">
            {{admin.playerCount}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2 text-right">
            Last 24 Hours
        </div>
        <div class="col-sm-2 text-right">
            Last 7 Days
        </div>
        <div class="col-sm-2 text-right">
            Last 30 Days
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">Players Created:</div>
        <div class="col-sm-2 text-right">
            {{admin.playersCreated24hours}}
        </div>
        <div class="col-sm-2 text-right">
            {{admin.playersCreated7days}}
        </div>
        <div class="col-sm-2 text-right">
            {{admin.playersCreated30days}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">Players Logged In:</div>
        <div class="col-sm-2 text-right">
            {{admin.playersLastLogin24hours}}
        </div>
        <div class="col-sm-2 text-right">
            {{admin.playersLastLogin7days}}
        </div>
        <div class="col-sm-2 text-right">
            {{admin.playersLastLogin30days}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">Games Created:</div>
        <div class="col-sm-2 text-right">
            {{admin.gamesLast24hours}}
        </div>
        <div class="col-sm-2 text-right">
            {{admin.gamesLast7days}}
        </div>
        <div class="col-sm-2 text-right">
            {{admin.gamesLast30days}}
        </div>
    </div>
</div>