<div class="ng-cloak create-game">
    <form class="form-horizontal">
        <uib-tabset type="pills" justified="true" active="0">
            <uib-tab ng-repeat="featureGroup in create.features" index="$index"
                     heading="{{featureGroup.group}}"
                     uib-popover="Hover over any option to find out more about it."
                     uib-popover-title="Profile"
                     popover-is-open="main.showHelp"
                     popover-placement="bottom"
                     popover-trigger="none">
                <div class="form-group" ng-repeat="feature in featureGroup.features">
                    <label uib-tooltip="{{feature.description}}">{{feature.label}}</label>
                    <div class="btn-group btn-group-justified">
                        <label ng-repeat="option in feature.options" uib-btn-radio="option.feature"
                               ng-model="create.choices[feature.feature]" class="btn btn-primary"
                               uib-tooltip="{{option.description}}" tooltip-append-to-body="true">
                            <span class="{{option.icon}}" ng-hide="angular.isUndefined(option.icon)"></span>
                            {{option.label}}
                        </label>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <div class="form-group friend-select">
            <label uib-tooltip="Select up to 0-4 friends to help.">
                Add up to 4 friends who play Twisted Wordsearch
            </label>
            <ui-select multiple limit="4" ng-model="create.chosenFriends" theme="bootstrap"
                       reset-search-input="true"
                       uib-popover="Play solo or add friends to work together."
                       uib-popover-title="Profile"
                       popover-is-open="main.showHelp"
                       popover-placement="top"
                       popover-trigger="none">
                <ui-select-match placeholder="Select friends...">{{$item.displayName}}</ui-select-match>
                <ui-select-choices
                        repeat="friend in create.friends | propsFilter: {displayName: $select.search}">
                    <div ng-bind-html="friend.displayName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <button class="btn btn-primary create-game-button" ng-click="create.createGame()"
                uib-popover="Once you've picked your options, create a game by pressing here."
                uib-popover-title="Profile"
                popover-is-open="main.showHelp"
                popover-placement="bottom"
                popover-trigger="none"
                ng-disabled="create.disableCreate">
            {{create.createGameButtonText}}
        </button>
        <button class="btn btn-info invite-friends-button" ng-click="create.inviteFriends()">
            Invite friends to play Twisted Wordsearch
        </button>
    </form>
</div>